<!doctype html>
<html class="no-js no-touch page-loading" lang="{{ request.locale.iso_code }}">
<head><meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
<link rel="canonical" href="{{ canonical_url }}">

{%- unless settings.type_heading_font.system? and settings.type_base_font.system? -%}
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
{%- endunless -%}
{%- unless settings.type_base_font.system? -%}
  <link rel="preload" as="font" href="{{ settings.type_base_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}
{%- unless settings.type_heading_font.system? -%}
  <link rel="preload" as="font" href="{{ settings.type_heading_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}

<link rel="preload" as="image" href="{{ 'loading.svg' | asset_url }}">{%- liquid
  assign loading_appearance = settings.loading_appearance
  assign image_width = settings.loading_image_width
  assign image = settings.loading_image
  assign loading_background = settings.loading_background
  assign loading_svg_color = '#fff'
  assign loading_background_brightness = loading_background | color_brightness | round
  if loading_background_brightness > 153
    assign loading_svg_color = '#000'
  endif
-%}

{%- style -%}
  {% if loading_background.alpha != 0.0 and loading_background != '' %}
    :root {
      --overlay-bg: {{ loading_background }};
      --overlay-bg-svg: {{ loading_svg_color }};
    }
  {% endif %}
  .no-js.page-loading .loading-overlay,
  html:not(.page-loading) .loading-overlay { opacity: 0; visibility: hidden; pointer-events: none; animation: fadeOut 1s ease; transition: visibility 0s linear 1s; }

  .loading-overlay { position: fixed; top: 0; left: 0; z-index: 99999; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; background: var(--overlay-bg, var(--COLOR-BLACK-WHITE)); }
{%- endstyle -%}

{%- unless loading_appearance == 'never' -%}
  {%- if image != blank -%}
    {%- assign image_height = image_width | divided_by: image.aspect_ratio | round -%}
    {%- capture preload_image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%}
    <link rel="preload" as="image" href="{{ image | img_url: preload_image_size }}" data-preload="{{ preload_image_size }}">
  {%- endif -%}

  {%- style -%}
    .loader__image__holder { position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-size: 0; display: none; align-items: center; justify-content: center; animation: pulse-loading 2s infinite ease-in-out; }
    .loader__image__holder:has(.loader__image--fallback) { animation: none; }
    .loading-image .loader__image__holder { display: flex; }
    .loader__image { max-width: {{ image_width }}px; height: auto; object-fit: contain; }
    .loading-image .loader__image--fallback { width: 150px; height: 150px; max-width: 150px; mask: var(--loading-svg) center center/contain no-repeat; background: var(--overlay-bg-svg, var(--COLOR-WHITE-BLACK)); }
  {%- endstyle -%}

  <script>
    const loadingAppearance = {{ loading_appearance | json }};
    const loaded = sessionStorage.getItem('loaded');

    if (loadingAppearance === 'once') {
      if (loaded === null) {
        sessionStorage.setItem('loaded', true);
        document.documentElement.classList.add('loading-image');
      }
    } else {
      document.documentElement.classList.add('loading-image');
    }
  </script>
{%- endunless -%}{%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
{%- endif -%}

{% comment %} Title and description {% endcomment %}
<title>
  {{- page_title }}
  {% if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {%- endif %}
  {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
  {% unless page_title contains shop.name %} &ndash; {{ shop.name -}}{% endunless -%}
</title>

{%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
{%- else -%}
  <meta name="description" content="{{ shop.description | escape }}">
{%- endif -%}

{%- render 'social-meta-tags' -%}

{%- render 'css-variables' -%}

{%- comment -%} CSS {%- endcomment -%}
{{- 'theme.css' | asset_url | stylesheet_tag -}}

{%- liquid
  capture icon_close
    render 'icon-close'
  endcapture
-%}

<script
  type="text/javascript"
>
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);

      document.documentElement.classList.add('ie11');
    } else {
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    }

    let root = '{{ routes.root_url }}';
    if (root[root.length - 1] !== '/') {
      root = `${root}/`;
    }

    window.theme = {
      routes: {
        root: root,
        cart_url: {{ routes.cart_url | json }},
        cart_add_url: {{ routes.cart_add_url | json }},
        cart_change_url: {{ routes.cart_change_url | json }},
        shop_url: {{ shop.url | json }},
        searchUrl: '{{ routes.search_url }}',
        predictiveSearchUrl: '{{ routes.predictive_search_url }}',
        product_recommendations_url: {{ routes.product_recommendations_url | json }}
      },
      assets: {
        photoswipe: '{{ "photoswipe.js" | asset_url }}',
        smoothscroll: '{{ "smoothscroll.js" | asset_url }}',
        no_image: "{{ image | img_url: '1024x' }}",
        swatches: '{{ "swatches.json" | asset_url }}',
        base: "{{ 'blank.svg' | asset_url | split: 'blank.svg' | first }}"
      },
      strings: {
        add_to_cart: {{ "products.product.add_to_cart" | t | json }},
        cart_acceptance_error: {{ "cart.general.accept_terms" | t | json }},
        cart_empty: {{ "cart.general.empty" | t | json }},
        cart_price: {{ "cart.label.price" | t | json }},
        cart_quantity: {{ "cart.label.quantity" | t | json }},
        cart_items_one: {{ "cart.label.items_with_count.one" | t | json }},
        cart_items_many: {{ "cart.label.items_with_count.other" | t | json }},
        cart_title: {{ "cart.general.title" | t | json }},
        cart_total: {{ "cart.label.total" | t | json }},
        continue_shopping: {{ "cart.general.continue_shopping" | t | json }},
        free: {{ 'products.product.free' | t | json }},
        limit_error: {{ "cart.general.limit_error" | t | json }},
        preorder: {{ "products.product.preorder" | t | json }},
        remove: {{ 'cart.general.remove' | t | json }},
        sale_badge_text: {{ "products.product.sale" | t | json }},
        saving_badge: {{ "products.product.save_badge_html" | t | json }},
        saving_up_to_badge: {{ "products.product.save_badge_up_to_html" | t | json }},
        sold_out: {{ "products.product.sold_out" | t | json }},
        subscription: {{ "products.product.subscription" | t | json }},
        unavailable: {{ "products.product.unavailable" | t | json }},
        unit_price_label: {{ "products.product.unit_price_label" | t | json }},
        unit_price_separator: {{ "general.accessibility.unit_price_separator" | t | json }},
        zero_qty_error: {{ "cart.general.zero_qty_error" | t | json }},
        delete_confirm: {{ "customer.addresses.delete_confirm" | t | json }},
        newsletter_product_availability: {{ "general.newsletter_form.newsletter_product_availability" | t | json }}
      },
      icons: {
        close: '{{ icon_close | strip_newlines }}'
      },
      settings: {
        animationsEnabled: {{ settings.animations_enabled | json }},
        cartType: {{ settings.cart_type | json }},
        enableAcceptTerms: {{ settings.enable_accept_terms | json }},
        enableInfinityScroll: {{ settings.enable_infinity_scroll | json }},
        enablePaymentButton: {{ settings.show_payment_button | json }},
        gridImageSize: {{ settings.image_size | json }},
        gridImageAspectRatio: {{ settings.image_aspect_ratio | json }},
        mobileMenuBehaviour: {{ settings.mobile_menu_behaviour | json }},
        productGridHover: {{ settings.product_grid_hover | json }},
        savingBadgeType: {{ settings.saving_badge_type | json }},
        showSaleBadge: {{ settings.show_sale_badge | json }},
        showSoldBadge: {{ settings.show_sold_badge | json }},
        showSavingBadge: {{ settings.show_saving_badge | json }},
        quickBuy: {{ settings.quick_buy | json }},
        suggestArticles: {{ settings.suggest_articles | json }},
        suggestCollections: {{ settings.suggest_collections | json }},
        suggestProducts: {{ settings.suggest_products | json }},
        suggestPages: {{ settings.suggest_pages | json }},
        suggestionsResultsLimit: {{ settings.suggestions_results_limit | json }},
        currency_code_enable: {{ settings.currency_code_enable | json }},
        hideInventoryCount: {{ settings.hide_inventory_count | json }},
        colorSwatchesType: {{ settings.color_swatches_type | json }},
        atcButtonShowPrice: {{ settings.atc_show_product_price | json }},
        buynowButtonColor: {{ settings.buynow_btn_color | json }},
        buynowButtonStyle: {{ settings.buynow_btn_style | json }},
        buynowButtonSize: {{ settings.buynow_button_size | json }},
        mobileMenuType: {{ settings.mobile_menu_type | json }},
      },
      sizes: {
        mobile: 480,
        small: 768,
        large: 1024,
        widescreen: 1440
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
      subtotal: {{ cart.total_price | json }},
      current_iso_code: {{ cart.currency.iso_code | json }},
      info: {
        name: 'Palo Alto'
      },
      version: '7.0.0'
    };
    window.PaloAlto = window.PaloAlto || {};
    window.slate = window.slate || {};
    window.isHeaderTransparent = false;
    window.stickyHeaderHeight = 60;
    window.lastWindowWidth = window.innerWidth || document.documentElement.clientWidth;
</script>

{%- if request.page_type contains 'customers/' -%}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

{%- if request.design_mode -%}
  <script
    src="{{ 'theme-editor.js' | asset_url }}"
    defer="defer"
    data-owner-email="{{ shop.email }}"
    data-owner-id="{{ shop.id }}"
  ></script>
{%- endif -%}

{%- comment -%}
  If you need to do some edits in Theme JS use theme.dev.js file

  *** DO NOT EDIT theme.js file ***

  Then call theme.dev.js file by editing the row above from:
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  to
  <script src="{{ 'theme.dev.js' | asset_url }}" defer="defer"></script>
{%- endcomment -%}

{{ content_for_header }}
</head>{%- capture body_classes -%}
template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
{% if customer %} customer-logged-in{% endif %}
{% if settings.show_rounded_corners %} body--rounded-corners{% endif %}
{% if settings.animations_enabled %} aos-initialized{% endif %}
{% if settings.color_body_bg == '#000000' or settings.color_body_bg == '#000' %} palette--dark{% endif %}
{% if settings.color_body_bg == '#ffffff' or settings.color_body_bg == '#fff' %} palette--light{% endif %}
  no-outline
{%- endcapture -%}
{%- assign body_classes = body_classes | strip_newlines | strip -%}<body id="{{ page_title | handle }}" class="{{ body_classes }}">
  {%- render 'loading' -%}

  <a class="in-page-link skip-link" data-skip-content href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% sections 'group-header' %}
  {% sections 'group-overlay' %}

  <main id="MainContent" class="main-content" data-main>
    {{ content_for_layout }}
  </main>

  {% sections 'group-footer' %}

  {%- comment -%} Photoswipe containers {%- endcomment -%}
  {%- render 'zoom-pswp', template_index: 0 -%}
  {%- render 'zoom-pswp', template_index: 1 -%}

  {%- if settings.show_scroll_to_top -%}
    <button type="button" class="btn btn--primary btn--solid btn--scroll-top" data-scroll-top-button aria-label="{{ 'general.accessibility.scroll_to_top' | t }}">
      <hover-button></hover-button>
      {% render 'icon-select' %}
    </button>
  {%- endif -%}


  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  

  {%- comment -%}
    In order to use your custom javascript file at assets/custom.js
    just cut this next line and paste it outside this comment:
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  {%- endcomment -%}

  <!-- Paste marketing code or third party scripts below this comment line ============== -->

  <!-- And above this comment line ================================================== -->

<!-- start cart script -->
{% comment %}{% if template.name == "cart" %}{% endcomment %}
<div id="CheckoutScriptCart">
    <script defer>
        {% assign url_parts = canonical_url | split: '/' %}
        {% assign domain = url_parts[2] | replace: 'www.', '' %}
        {% capture cartURL %}{{ url_parts[0] }}//checkout.{{ domain }}/checkout{% endcapture %}

        class CheckoutHandler {
            constructor() {
                this.loadDelay = 100;
                this.cartURL = "{{ cartURL }}";
                this.shopifyCartRoute = "{{ routes.cart_url }}";
                this.configs = {"buy_it_now_query_selector":"COMPRE J\u00c1","checkout_query_selector":"Adicionar ao carrinho"};
                this.themeName = "{{ theme.name }}";
                this.templateName = "{{ template.name }}";
                this.page = "{{ template }}";
                this.init();
                this.submitButtons = [];
                this.forms = [];
                {% comment %}
                //https://shopify.dev/docs/api/ajax#locale-aware-urls
                //https://shopify.dev/docs/api/ajax/reference/cart

                {% endcomment %}
            }

            init() {
                document.addEventListener('DOMContentLoaded', () => {
                    setTimeout(() => this.setEventListeners(), this.loadDelay);
                });
                if(!!this.configs?.mini_cart){
                    document.addEventListener('DOMContentLoaded', () => {
                        setTimeout(() => this.miniCartWatcher(), this.loadDelay);
                    });
                }

            }

            miniCartWatcher() {
                let selector = `#mini-cart,quick-buy, #quick-buy, quick-buy-drawer, #quick-buy-drawer, buy-drawer, #buy-drawer, cart-drawer, #cart-drawer, quick-cart, #quick-cart`;
                if (this.configs?.minicart_query_selector) {
                    selector = selector.concat(`, ${this.configs.minicart_query_selector}`);
                }

                const miniCart = document.querySelector(selector);

                if (miniCart) {
                    const observer = new MutationObserver((mutations) => {
                        mutations.forEach((mutation) => {
                            this.setEventListeners();
                        });
                    });

                    observer.observe(miniCart, {
                        childList: true, // Watches for added/removed elements
                        subtree: true, // Watches changes inside child elements
                        characterData: true, // Watches text content changes
                    });
                }
            }

            async getCart() {
                const response = await fetch(window.Shopify.routes.root + 'cart.js');
                const cart = await response.json();
                return cart.items;
            }

            getCheckoutForm() {
                return document.querySelector(`form[action='${this.shopifyCartRoute}'], form#cart`);
            }

            setFormDataCheckoutAction(form, method = "POST") {
                if (form === null) {
                    form = document.querySelector(`form[action='${this.shopifyCartRoute}]'`);
                    form.setAttribute("action", this.cartURL);
                }
                if (form) {
                    form.setAttribute("action", this.cartURL);
                }
                if (!form.hasAttribute('method')) form.setAttribute('method', method);
                if (!form.hasAttribute('novalidate')) form.setAttribute('novalidate', 'novalidate');
                if (!form.hasAttribute('data-checkout')) form.setAttribute('data-checkout', 'cart-form');
                return form;
            }

            createInputDataCheckout(name, loopIndex, value, dataNumber, type = 'hidden') {
                const element = document.createElement('input');
                element.setAttribute('type', type);
                element.setAttribute('data', dataNumber);
                element.setAttribute('name', `${name}${loopIndex}`);
                element.setAttribute('value', `${value}`);
                return element;
            }

            async submitCheckout(form) {
                const cartItems = await this.getCart();
                if (!cartItems || cartItems.length === 0) {
                    console.error('Cart items not set or empty.');
                    return;
                }

                const formData = cartItems.map((item, index) => {
                    if (!this.productHasVariants(item)) {
                        return {
                            code: String(item.product_id + '/' + item.variant_id),
                            quantity: item.quantity,
                            amount: item.price,
                        };
                    } else {
                        return {
                            code: String(item.product_id),
                            primary_variant_code: String(item.variant_id),
                            quantity: item.quantity,
                            amount: item.price,
                        };
                    }
                });

                const jsonData = {products: formData};
                const jsonString = JSON.stringify(jsonData);

                this.setFormDataCheckoutAction(form, "post");


                const jsonDataInput = document.createElement('input');
                jsonDataInput.type = 'hidden';
                jsonDataInput.name = 'cart';
                jsonDataInput.value = jsonString;
                form.replaceChildren(jsonDataInput);

                form.submit();
            }

            setEventListeners() {
                const self = this;
                const targets = ['button', 'input[type="submit"]', 'input[type="button"]', 'a'];
                const tempSubmitButtons = [];

                targets.forEach(target => {
                    // let selector = `${target}[form][type=submit], ${target}[id^=checkout], ${target}[name^=checkout]`;
                    let selector = `${target}[id^=checkout], ${target}[name^=checkout]`;

                    if (self.configs?.checkout_query_selector) {
                        selector = selector.concat(`, ${self.configs.checkout_query_selector}`);
                    }

                    const elements = document.querySelectorAll(selector);
                    tempSubmitButtons.push(...elements);
                });
                self.submitButtons = [...new Set(tempSubmitButtons)];
                self.submitButtons.forEach((button) => {
                    let form = button.closest('form');

                    if (form) {
                        form.addEventListener('submit', (e) => {
                            e.preventDefault();
                            self.submitCheckout(form);
                        });

                        this.setFormDataCheckoutAction(form, 'POST');
                    } else {
                        form = self.getCheckoutForm();

                        if (form) {
                            form.addEventListener('submit', (e) => {
                                e.preventDefault();
                                self.submitCheckout(form);
                            });

                            this.setFormDataCheckoutAction(form, 'POST');
                        }

                        button.addEventListener('click', (e) => {
                            e.preventDefault();
                            self.submitCheckout(form);
                        });
                    }
                });
                const callback = (mutationsList) => {
                    for (const mutation of mutationsList) {
                        // Extract id and classList
                        for (let i = 0; i < self.submitButtons.length; i++) {
                            const button = self.submitButtons[i];
                            const id = button.id ? `#${button.id}` : '';
                            const classes = Array.from(button.classList).map(cls => `.${cls}`).join('');
                            const name = button.name ? `[name="${button.name}"]` : '';
                            const type = button.type ? `[type="${button.type}"]` : '';
                            const dataAttributes = Object.entries(button.dataset)
                                .map(([key, value]) => `[data-${key}="${value}"]`)
                                .join('');
                            //or
                            // let queryString = [id, classes, name, type,dataAttributes].filter(Boolean).join(', ');
                            //and
                            // let queryString = (id + classes + name + type + dataAttributes).trim();
                            if(queryString){
                                const matchedElement = document.querySelector(queryString);

                                if (mutation.target.contains(matchedElement)) {
                                    let form = document.querySelector(queryString).closest('form')

                                    if (form && matchedElement.closest('form').action != this.cartURL) {
                                        form.addEventListener('submit', (e) => {
                                            e.preventDefault();
                                            self.submitCheckout(form);
                                        });

                                        this.setFormDataCheckoutAction(form, 'POST');
                                        break;
                                    }
                                    // else {
                                    //       form = self.getCheckoutForm();

                                    //       if (form) {
                                    //           form.addEventListener('submit', (e) => {
                                    //               e.preventDefault();
                                    //               self.submitCheckout(form);
                                    //           });

                                    //           this.setFormDataCheckoutAction(form, 'POST');
                                    //       }
                                    //       button.addEventListener('click', (e) => {
                                    //           e.preventDefault();
                                    //           self.submitCheckout(form);
                                    //       });
                                    //   }
                                }
                            }

                        }


                    }
                }

                const observer = new MutationObserver(callback);
                const config = {
                    attributes: true,
                    childList: true,
                    subtree: true,
                };
                let triesToObserve = [
                    document.querySelector('#shopify-section-cart-template'),
                    document.body
                ];

                for (let i = 0; i < triesToObserve.length; i++) {
                    if (triesToObserve[i]) {
                        observer.observe(triesToObserve[i], config);
                        break; // Exit loop once the first match is found
                    }
                }



            }

            productHasVariants(product) {
                if (product.has_only_default_variant || product.variants?.[0]?.title == "Default Title" || product.variant_options?.[0] == "Default Title") {
                    return false
                } else {
                    return true
                }
            }
        }

        new

        CheckoutHandler();

    </script>
</div>
{% comment %}{% endif %}{% endcomment %}
<!-- end cart script -->
<!-- start utm script -->
<div id='scriptUtm'>
    <script>
        class UtmHandler {
            constructor() {
                this.url = new URL(window.location.href);
                this.utmParams = this.getUtmParams();
                this.cookieName = '_sirius_track';
                this.setUTMCookie(this.utmParams);
            }

            getUtmParams() {
                return {
                    src: this.url.searchParams.get('src'),
                    utm_source: this.url.searchParams.get('utm_source'),
                    utm_medium: this.url.searchParams.get('utm_medium'),
                    utm_campaign: this.url.searchParams.get('utm_campaign'),
                    utm_term: this.url.searchParams.get('utm_term'),
                    utm_content: this.url.searchParams.get('utm_content')
                };
            }

            setUTMCookie(utmParams) {
                let cookieValue = '';
                Object.keys(utmParams).forEach(key => {
                    if (utmParams[key]) {
                        if (cookieValue) {
                            cookieValue += '|';
                        }
                        cookieValue += key + '=' + utmParams[key];
                    }
                });

                if (cookieValue) {
                    const myDate = new Date();
                    myDate.setMonth(myDate.getMonth() + 12);
                    document.cookie = `${this.cookieName}=${cookieValue};domain=.{{ shop.domain }};path=/;expires=${myDate.toUTCString()}`;
                }
            }
        }

        new UtmHandler();
    </script>
</div>
<!-- end utm script -->
<!-- start buyitnow script -->
{% if template.name == "product" or template.name == "index" or template.name == "collection" %}
    <div id="CheckoutScriptBuyItNow">

        <script defer>
            {% assign url_parts = canonical_url | split: '/' %}
            {% assign domain = url_parts[2] | replace: 'www.', '' %}

            {% capture cartURL %}{{ url_parts[0] }}//checkout.{{ domain }}/checkout{% endcapture %}

            class BuyItNowHandler {
                constructor() {
                    this.loadDelay = 3000;
                    this.cartURL = "{{ cartURL }}";
                    this.shopifyCartRoute = "{{ routes.cart_url }}";
                    this.configs = {"buy_it_now_query_selector":"COMPRE J\u00c1","checkout_query_selector":"Adicionar ao carrinho"};
                    this.themeName = "{{ theme.name }}";
                    this.templateName = "{{ template.name }}";
                    this.page = "{{ template }}";
                    this.product = {{ product | json }} ?? null;
                    this.init();
                    {% comment %}
                    //https://shopify.dev/docs/api/ajax/reference/product
                    {% endcomment %}
                }

                init() {
                    const self = this;
                    document.addEventListener('DOMContentLoaded', function () {
                        setTimeout(function () {
                            self.setEventListeners();
                        }, this.loadDelay);
                    });
                    if(!!this.configs?.mini_cart){
                        document.addEventListener('DOMContentLoaded', () => {
                            setTimeout(() => this.miniCartWatcher(), this.loadDelay);
                        });
                    }
                }

                miniCartWatcher() {
                    let selector = `#mini-cart,quick-buy, #quick-buy, quick-buy-drawer, #quick-buy-drawer, buy-drawer, #buy-drawer, cart-drawer, #cart-drawer, quick-cart, #quick-cart`;
                    if (this.configs?.minicart_query_selector) {
                        selector = selector.concat(`, ${this.configs.minicart_query_selector}`);
                    }

                    const miniCarts = document.querySelectorAll(selector);

                    miniCarts.forEach((miniCart) => {
                        if (miniCart) {
                            const observer = new MutationObserver((mutations) => {
                                mutations.forEach((mutation) => {
                                    this.setEventListeners();
                                });
                            });

                            observer.observe(miniCart, {
                                childList: true, // Watches for added/removed elements
                                subtree: true, // Watches changes inside child elements
                                characterData: true, // Watches text content changes
                                attributes: true,  // Watches for attribute changes
                            });
                        }
                    });
                }

                async getCart() {
                    const response = await fetch(window.Shopify.routes.root + 'cart.js');
                    const cart = await response.json();
                    return cart.items;
                }

                getCheckoutForm() {
                    return document.querySelector(`form[action='${this.shopifyCartRoute}'], form#cart`);
                }

                setFormDataCheckoutAction(method = "POST") {

                    let form = document.createElement('form');
                    document.body.appendChild(form);

                    form.setAttribute("action", this.cartURL);

                    if (!form.hasAttribute('method')) form.setAttribute('method', method);
                    if (!form.hasAttribute('novalidate')) form.setAttribute('novalidate', 'novalidate');
                    if (!form.hasAttribute('data-checkout')) form.setAttribute('data-checkout', 'cart-form');
                    return form;
                }

                createInputDataCheckout(name, loopIndex, value, dataNumber, type = 'hidden') {
                    const element = document.createElement('input');
                    element.setAttribute('type', type);
                    element.setAttribute('data', dataNumber);
                    element.setAttribute('name', `${name}${loopIndex}`);
                    element.setAttribute('value', `${value}`);
                    return element;
                }

                productHasVariants(product) {
                    if(!product){
                        return !!document.querySelectorAll('product-variants').length;
                    }else{
                        if (product.has_only_default_variant || product.variants?.[0]?.title == "Default Title") {
                            return false
                        } else {
                            return true
                        }
                    }

                }

                submitCheckout(target) {
                    if (!target) {
                        return
                    }


                    const themeName = "{{ theme.name }}";
                    const theme = themeName.toLowerCase();
                    const formData = [];

                    var quantity = parseInt(document.querySelector('input[name=quantity]')?.value) ?? 1;
                    let productForm = target.closest('form');
                    var selectedVariant = this.getSelectedVariant(productForm);
                    let productId= this.product?.id ?? this.getSelectedProduct(productForm);
                    switch (this.productHasVariants(this.product)) {
                        case true:
                            formData.push({
                                code: String(productId),
                                quantity: quantity > 0 ? quantity : 1,
                                amount: this.product?.price ?? 0,
                                primary_variant_code: String(selectedVariant)
                            });
                            break;
                        default:
                            formData.push({
                                code: this.product.id + '/' + selectedVariant,
                                quantity: quantity > 0 ? quantity : 1,
                                amount: this.product?.price ?? 0,
                            });
                            break;
                    }

                    // formData.push({

                    {% comment %}{% if product.has_only_default_variant == false %}{% endcomment %}
                    {% comment %}code: '{{ product.id }}',{% endcomment %}
                    // primary_variant_code: primaryVariantId,
                    {% comment %}{% else %}{% endcomment %}
                    {% comment %}code: '{{ product.id }}/{{ product.variants[0].id }}',{% endcomment %}
                    {% comment %}{% endif %}{% endcomment %}
                    // quantity: quantity > 0 ? quantity : 1,
                    {% comment %}amount: {{ product.price }},{% endcomment %}
                    // });

                    let form = this.setFormDataCheckoutAction("POST")
                    const jsonData = {products: formData};
                    const jsonString = JSON.stringify(jsonData);

                    // Create a hidden input field to hold the JSON data
                    const jsonDataInput = document.createElement('input');
                    jsonDataInput.type = 'hidden';
                    jsonDataInput.name = 'cart'; // Change to the desired name
                    jsonDataInput.value = jsonString;
                    form.replaceChildren(jsonDataInput);


                    form.submit();
                }

                setEventListeners() {
                    const self = this;
                    const targets = ['button', 'input[type="submit"]', 'input[type="button"]', 'a'];
                    const tempSubmitButtons = [];

                    targets.forEach(target => {
                        let selector = `${target}[class*="buy-it"],${target}[id*="payment"],${target}[id*="buy-it"]`;
                        if (self.configs?.buy_it_now_query_selector) {
                            selector = selector.concat(`, ${self.configs.buy_it_now_query_selector}`);
                        }

                        const element = document.querySelector(selector);
                        if (element) {
                            tempSubmitButtons.push(element);
                        }

                    });

                    const submitButtons = [...new Set(tempSubmitButtons)];
                    // const submitButtons = document.querySelectorAll('button[class*="shopify-payment"], button[data-action=add-to-cart], ' + this.configs.buy_it_now_query_selector);
                    if (!submitButtons || submitButtons.length < 1) {
                        return;
                    }
                    const newDiv = document.createElement('div');
                    newDiv.id = "whiteId";
                    newDiv.style.width = "100%";

                    let commonParent;
                    if(submitButtons[0].parentNode.parentNode.tagName == 'div')
                    {
                        commonParent = submitButtons[0].parentNode.parentNode;
                    }
                    else if(submitButtons[0].parentNode.closest('form')){
                        commonParent = submitButtons[0].parentNode.closest('form');
                    } else{
                        commonParent = submitButtons[0].parentNode.closest('div');
                    }


                    // commonParent.insertBefore(newDiv, submitButtons[0].parentNode);
                    commonParent.appendChild(newDiv)

                    submitButtons.forEach((button) => {
                        // Create a new button element
                        const newButtonSubmit = document.createElement('button');
                        if (this.isEmptyContent(button.innerHTML) || button.innerHTML.trim().toLowerCase() === "buy it now") {
                            newButtonSubmit.innerHTML = "COMPRAR AGORA";
                        } else {
                            newButtonSubmit.innerHTML=button.firstElementChild.innerHTML
                        //     newButtonSubmit.innerHTML = button.innerHTML;


                        }

                        button.classList.forEach((className) => {
                            if (!className.includes('hide') && !className.includes('hidden')) {
                                newButtonSubmit.classList.add(className);
                            }
                        });


                        // Append the new button to the new div
                        newDiv.appendChild(newButtonSubmit);

                        let buttonDepth = this.getElementDepth(button,commonParent) -1;

                        let elementToRemove=this.getElementToRemovBasedInTheButtonAndItsDepth(button,buttonDepth);
                        elementToRemove.remove();



                        // Enable the new button and add event listener
                        newButtonSubmit.disabled = false;
                        newButtonSubmit.style.width = "100%";

                        newButtonSubmit.style.display="flex";
                        newButtonSubmit.style.flexDirection="row";
                        newButtonSubmit.style.alignItems="center";
                        newButtonSubmit.style.justifyContent="center";
                        newButtonSubmit.style.gap="2rem";

                        newButtonSubmit.addEventListener('click', function (e) {
                            e.preventDefault();
                            self.submitCheckout(e.target);
                        }, false);
                    });


                }

                getElementDepth(child, parent) {
                    let depth = 0;
                    let currentElement = child;

                    while (currentElement && currentElement !== parent) {
                        currentElement = currentElement.parentElement;
                        depth++;
                    }

                    // If currentElement is null, the child is not inside the parent
                    if (!currentElement) {
                        return -1; // Not inside the parent
                    }

                    return depth; // Depth from parent to child
                }

                getElementToRemovBasedInTheButtonAndItsDepth(button,depth){
                    let elementToRemove=button;
                    for (let i = 1; i < depth; i++) {
                        elementToRemove = elementToRemove.parentElement;
                    }
                    return elementToRemove;

                }
                getSelectedProduct(form) {
                    var selectedProduct = null;
                    {% if template.name != "product" %}
                    if(!selectedProduct){
                        selectedProduct = document.querySelector('form[action="/cart/add"] input[name="product-id"]')
                        return selectedProduct.value
                    }
                    {% endif %}



                }
                getSelectedVariant(form) {
                    var selectedVariant = null;
                    {% if template.name == "product" %}
                    var cartItem = {{ product | json }};
                    const variantIds = cartItem.variants.map(variant => variant.id);

                    if (!this.productHasVariants(this.product)) {
                        return variantIds[0]
                    }

                    // check in url
                    let url = new URL(window.location.href);
                    let params = new URLSearchParams(url.search);
                    let possibleNames = ['variant', 'variantid', 'variant-id', 'variant_id'];

                    for (let name of possibleNames) {
                        let value = params.get(name);
                        if (value && value.trim() !== '' && variantIds.includes(parseInt(value))) {
                            return value;
                        }
                    }

                    const querySelector = variantIds.map(id => `[value="${id}"][selected]`).join(',');

                    selectedVariant = form.querySelector(querySelector);
                    if(selectedVariant  && variantIds.includes(parseInt(selectedVariant.value))){
                        return selectedVariant.value
                    }else{
                        selectedVariant = null;
                    }
                    if (!selectedVariant) {
                        //outra tentativa
                        selectedVariant = form.querySelector('[id*="product-select"] [selected="selected"]');
                        if (selectedVariant && variantIds.includes(parseInt(selectedVariant.value))) {
                            return selectedVariant.value
                        } else if (form.querySelector('[selected="selected"]')&& variantIds.includes(parseInt(form.querySelector('[selected="selected"]').value))) {
                            return form.querySelector('[selected="selected"]').value
                        }else if(form.querySelector('.product-variant-id') && variantIds.includes(parseInt(form.querySelector('.product-variant-id').value))){
                            return form.querySelector('.product-variant-id').value
                        }
                    }else{
                        selectedVariant = null;
                    }
                    if (!selectedVariant) {
                        selectedVariant = document.querySelector(`input[checked][id*="${cartItem.id}"], input[checked][name*="${cartItem.id}"], input[checked][for*="${cartItem.id}"]`);
                        if (selectedVariant && variantIds.includes(parseInt(selectedVariant.value))) {
                            return selectedVariant.value
                        }
                    }else{
                        selectedVariant = null;
                    }
                    {% endif %}


                    if(!selectedVariant){
                        selectedVariant = document.querySelector('form[action="/cart/add"] input[name="id"]')
                            return selectedVariant.value
                    }

                    return variantIds[0]


                }

                isEmptyContent(content) {
                    const tempElement = document.createElement('div');
                    tempElement.innerHTML = content;
                    return !tempElement.textContent.trim();
                }
            }


            new BuyItNowHandler();

        </script>

    </div>
{% endif %}
<!-- end buyitnow script -->
</body>
</html>
